* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;

}

p {
    line-height: 1.6;
}

body {
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    width: 100%;
    flex: 1;
    padding: 2em;
    margin: auto;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
}

.transactions {
    width: 100%;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    font-size: 1.25em;
}

.transaction-card {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    gap: 1em;
    padding: 1em;
    margin-bottom: 1em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}