* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
}

h1 {
    text-align: center;
    font-size: 2em;
}

h2 {
    font-size: 1.5em;

}

p { 
    text-align: center;
    margin: 10px;
    font-size: 1.125em;
    line-height: 1.6;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



div {
    padding: 1em;
    margin: 0 auto;

}

button {
    margin: 0 auto;
}

.main {
    width: 100%;
    flex-direction: column;
    padding: 1em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
}

.nav-bar {
    background-color: #333;
    padding: 1em;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.nav-bar a {
    color: white;
    padding: 14px;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-bar a:hover {
    color: black;
    background-color: #ddd;
    transition: all 0.3s ease;
}

.form {
    width: 100%;
    max-width: 500px;
    background-color: white;
    padding: 2em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
}

.transactions {
    width: 100%;
    max-width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 1.25em;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 10px;
    }

    .header h1 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 480px) {
    .header {
        padding: 8px;
    }

    .header h1 {
        font-size: 1.2em;
    }

    .nav-bar ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-bar a {
        display: block;
        width: 100%;
        text-align: center;
    }
}
